

* { 
    font-family: Arial, Helvetica, sans-serif ;
    background-color: lightblue; 
    color:green;
    box-sizing:border-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkblue; 
    color:white;
}

header {

    background-color: darkblue;
    color:white;
    text-align: center;
    padding: 2px;
  }

footer {
    background-color: darkblue;
    color:white;
    text-align: center;
    padding: 2px;
  }


.footertext {
  background-color: darkblue;
  color:white;
  text-align: center;

}

form {
  padding: 25px;
}


btn-primary
{
  background-color: darkblue;
  color:white;
  text-align: center;
}
.reviews{
  font-family:cursive;
  font-style: italic;
  font-size: larger;
  color:black
}
.review_links{
  color:blue;
}
.review_links:hover{
  font-weight:bold;
  text-decoration: none;
}


td {
  padding: 15px;
} 

.beverages {
  font-size: 100%;
   border: 2px solid white;
  border-color: azure;
}

.tdstuff {
  border: 2px solid white ;
  border-color: azure;

}

.td2stuff {
  border: 2px solid white ;
  border-color: azure;
  background-color: darkblue;
}

.trstuff:nth-child(even) {
  background-color: #f2f2f2;
  color:black;
}


/* carousel menu w3school */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}