

* { 
    font-family: Arial, Helvetica, sans-serif ;
    background-color: lightblue; 
    color:green;
    
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkblue; 
    color:white;
}

header {

    background-color: darkblue;
    color:white;
    text-align: center;
    padding: 2px;
  }

footer {
    background-color: darkblue;
    color:white;
    text-align: center;
    padding: 2px;
  }


.footertext {
  background-color: darkblue;
  color:white;
  text-align: center;

}

form {
  padding: 25px;
}


btn-primary
{
  background-color: darkblue;
  color:white;
  text-align: center;
}
.reviews{
  font-family:cursive;
  font-style: italic;
  font-size: larger;
  color:black
}
.review_links{
  color:blue;
}
.review_links:hover{
  font-weight:bold;
  text-decoration: none;
}


td {
  padding: 15px;
} 

.beverages {
  font-size: 100%;
   border: 2px solid white;
  border-color: azure;
}

.tdstuff {
  border: 2px solid white ;
  border-color: azure;

}

.td2stuff {
  border: 2px solid white ;
  border-color: azure;
  background-color: darkblue;
}

.trstuff:nth-child(even) {
  background-color: #f2f2f2;
  color:black;
}